*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url("../img/farmer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}


form {
   position: relative;
   align-items: center;
   justify-content: center;
   width: 512px;
   height: 420px;
   overflow: hidden;
   z-index: 2;
   color: #fff
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}
  
button {
    background-color: #4caf50;
    color: #fff;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
  
button:hover {
    background-color: #45a049;
}

#rememberMe {
    margin-right: 0px;
}

label[for="rememberMe"] {
    font-weight: normal;
    display:inline-block;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    bottom: 2px;
}
